path {
  fill: #ccc;
  stroke-width: 1.1px;
  stroke: #fff;
  stroke-linejoin: round; }

.ward.break0, .county.break0 {
  fill: #6baed6; }
.ward.break1, .county.break1 {
  fill: #4292c6; }
.ward.break2, .county.break2 {
  fill: #2171b5; }
.ward.break3, .county.break3 {
  fill: #08519c; }
.ward.break4, .county.break4 {
  fill: #08306b; }

#select-view ul {
  list-style-type: none; }
#select-view li {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  background-color: #555;
  padding: 4px 10px;
  margin: 2px 4px; }
  #select-view li:before {
    content: "+ "; }

.year-select .backward, .year-select .forward {
  cursor: pointer; }
