.city:before {
  content: "";
  width: 18px;
  height: 16px;
  background: url(/img/icon-city.png) 0 0 no-repeat;
  background-size: 75%;
  float: left;
  margin: 5px 1px 0 0; }

.city.active:before {
  content: "";
  width: 18px;
  height: 16px;
  background: url(/img/icon-city-active.png) 0 0 no-repeat;
  background-size: 75%;
  float: left;
  margin: 5px 1px 0 0; }

.region:before {
  content: "";
  width: 18px;
  height: 16px;
  background: url(/img/icon-region.png) 0 0 no-repeat;
  background-size: 85%;
  float: left;
  margin: 5px 3px 0 0; }

.region.active:before {
  content: "";
  width: 18px;
  height: 16px;
  background: url(/img/icon-region-active.png) 0 0 no-repeat;
  background-size: 85%;
  float: left;
  margin: 5px 3px 0 0; }

.national:before {
  content: "";
  width: 18px;
  height: 16px;
  background: url(/img/icon-nation.png) 0 0 no-repeat;
  background-size: 100%;
  float: left;
  margin: 6px 6px 0 0; }

.national.active:before {
  content: "";
  width: 18px;
  height: 16px;
  background: url(/img/icon-nation-active.png) 0 0 no-repeat;
  background-size: 100%;
  float: left;
  margin: 6px 6px 0 0; }

#tooltip {
  position: absolute;
  background-color: #fff;
  height: 160px;
  width: 280px;
  padding: 14px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  z-index: 10; }

#app-container {
  font-family: "franklin-gothic-urw", "helvetica neue", helvetica, sans-serif; }

.boundary {
  fill: none;
  stroke: #999;
  stroke-opacity: 1;
  stroke-width: 1; }
  .boundary.county {
    fill: none;
    stroke: #333;
    stroke-opacity: 1;
    stroke-width: 1.1; }

.region {
  fill: #fff; }
  .region.active {
    cursor: pointer; }

line {
  stroke: #000;
  shape-rendering: crispEdges; }

.district {
  fill: none;
  stroke: red;
  stroke-width: 1px; }
  .district.inset {
    shape-rendering: crispEdges; }

.disabled {
  fill: url(#cross-hatch); }

.details {
  display: none; }

.share {
  border: none;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
  box-shadow: none;
  margin-top: 22px; }

.map-view {
  min-height: 200px; }
  .map-view.loading {
    background: url('../img/loading.gif') no-repeat center; }
  .map-view .map-header .map-title h3 {
    margin: 0; }
  .map-view .map-header .map-legend svg {
    height: 70px;
    width: 350px;
    font-size: 14px;
    float: right; }
    @media (max-width: 768px) {
      .map-view .map-header .map-legend svg {
        float: none; } }
  .map-view .map-header .map-legend ul {
    list-style-type: none;
    margin: 0; }
  .map-view .map-header .map-legend li.key {
    display: inline-block;
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .6em;
    width: 18%;
    padding-left: 0;
    padding-right: 0; }

.panel-view {
  min-height: 400px;
  height: 100%; }
  .panel-view .panel-header {
    padding: 12px 10px; }
    .panel-view .panel-header .details .row {
      padding: 20px 0 0 0; }
    .panel-view .panel-header .map-select {
      list-style-type: none;
      margin-bottom: 0; }
      .panel-view .panel-header .map-select li {
        display: inline-block; }
        .panel-view .panel-header .map-select li a, .panel-view .panel-header .map-select li a:active, .panel-view .panel-header .map-select li a:visited {
          color: #222;
          display: inline-block;
          font-size: 16px;
          padding: 5px 14px 5px 14px;
          background-color: #ddd;
          cursor: pointer; }
          .panel-view .panel-header .map-select li a.active, .panel-view .panel-header .map-select li a:active.active, .panel-view .panel-header .map-select li a:visited.active {
            background-color: #571076;
            color: #fff; }
        .panel-view .panel-header .map-select li a:hover {
          background-color: #A062BB; }
    .panel-view .panel-header .chosen-container {
      padding: 0; }
    .panel-view .panel-header .chosen-default, .panel-view .panel-header .chosen-container-active.chosen-with-drop .chosen-single {
      color: #222;
      border: none;
      background: none;
      box-shadow: none; }
    .panel-view .panel-header .chosen-single, .panel-view .panel-header .chosen-single span {
      font-size: 22px;
      padding: 0;
      width: 280px;
      border: none;
      background: none;
      box-shadow: none;
      font-weight: bold; }
    .panel-view .panel-header .chosen-drop {
      width: 240px;
      border: none;
      background: none;
      box-shadow: none;
      background: #eee; }
    .panel-view .panel-header .chosen-results .active-result {
      font-size: 16px; }
    .panel-view .panel-header .year-select-view .backward, .panel-view .panel-header .year-select-view .forward {
      color: #fff; }
      .panel-view .panel-header .year-select-view .backward.active, .panel-view .panel-header .year-select-view .forward.active {
        color: #0a4662;
        cursor: pointer; }
    .panel-view .panel-header .selector {
      font-size: 22px; }
    .panel-view .panel-header .column-header {
      display: block;
      color: #222;
      text-transform: uppercase;
      font-size: 14px;
      font-family: "franklin-gothic-urw-cond", "helvetica neue", helvetica, sans-serif; }
    .panel-view .panel-header .title {
      display: block;
      font-size: 14px;
      margin-top: 2px; }
    .panel-view .panel-header .arrow {
      font-size: 22px;
      font-weight: bold; }

.contributions .placeholder {
  font-size: 15px;
  font-style: italic; }
.contributions .table-container {
  overflow-y: auto; }
  .contributions .table-container.loading {
    background: url('../img/loading.gif') no-repeat center; }
.contributions table {
  margin: 0 auto;
  border: 0;
  width: 100%; }
.contributions td {
  font-size: 14px;
  padding: 6px;
  border-bottom: 1px solid #f2f2f2; }
.contributions td:first-child {
  padding-left: 0; }

html {
  height: 100%; }

body {
  height: 100%; }

#status-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  display: none; }

.column-wrapper {
  width: 620px; }

.left-column {
  width: 210px;
  float: left; }

.right-column {
  width: 210px;
  float: left; }

.normal-weight {
  font-weight: normal; }

#left-sidebar {
  width: 30%;
  height: auto;
  position: absolute;
  min-width: 320px;
  max-width: 400px;
  background-color: #fff;
  overflow-x: hidden;
  top: 0px;
  bottom: 0px;
  border-right: 1px #eee solid; }
  #left-sidebar .section {
    margin-top: 1.618em;
    padding: 0 40px;
    border-bottom: 1px #eee solid; }
    #left-sidebar .section #tree-selection-details p {
      font-size: 13px; }
    #left-sidebar .section ul {
      margin-left: 1em;
      list-style-type: none; }
    #left-sidebar .section li {
      font-size: 13px; }
  #left-sidebar .section:last-child {
    border-bottom: 0; }

#user-account {
  float: right;
  font-size: 13px; }
  #user-account #account-name {
    margin-left: 6px;
    font-weight: 600; }

#logo {
  float: left; }

#map-box {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 30%;
  width: auto;
  height: auto;
  overflow-x: hidden; }

#wrapper {
  width: 100%;
  height: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 60px;
  position: absolute; }

#header {
  padding: 12px 40px;
  background-color: #eee;
  height: 60px;
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #cccccc; }
