@font-face {
  font-family: 'StateFaceRegular';
  src: url('../font/stateface-regular-webfont.eot');
  src: url('../font/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/stateface-regular-webfont.woff') format('woff'), url('../font/stateface-regular-webfont.ttf') format('truetype'), url('../font/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

path {
  fill: #ccc;
  stroke-width: 1.1px;
  stroke: #fff;
  stroke-linejoin: round; }

.ward.break0, .county.break0 {
  fill: #6baed6; }
.ward.break1, .county.break1 {
  fill: #4292c6; }
.ward.break2, .county.break2 {
  fill: #2171b5; }
.ward.break3, .county.break3 {
  fill: #08519c; }
.ward.break4, .county.break4 {
  fill: #08306b; }

#select-view ul {
  list-style-type: none; }
#select-view li {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  background-color: #555;
  padding: 4px 10px;
  margin: 2px 4px; }
  #select-view li:before {
    content: "+ "; }

.panel-header {
  height: 30px; }
  .panel-header .year-select .backward, .panel-header .year-select .forward {
    cursor: pointer; }
  .panel-header .close {
    cursor: pointer;
    background-color: #ccc;
    border-radius: 11px;
    padding: 4px 4px 6px 4px;
    line-height: 11px;
    color: #fff; }
    .panel-header .close a {
      color: #fff; }

.national ul {
  list-style-type: none; }
.national .stateface {
  font-size: 28px; }
.national .state-title {
  font-size: 14px; }
