 @font-face {
     font-family: 'StateFaceRegular';
     src: url('../font/stateface-regular-webfont.eot');
     src: url('../font/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../font/stateface-regular-webfont.woff') format('woff'),
          url('../font/stateface-regular-webfont.ttf') format('truetype'),
          url('../font/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

path {
  fill: #ccc;
  stroke: #fff;
  stroke-linejoin: round;    
}

.ward, .county {
  &.break0 {
    fill: rgb(107,174,214);
  }
  &.break1 {
    fill: rgb(66,146,198);
  }
  &.break2 {
    fill: rgb(33,113,181);
  }
  &.break3 {
    fill: rgb(8,81,156);
  }
  &.break4 {
    fill: rgb(8,48,107);
  }
}

.district {
  fill: none;
  stroke: red;
}

#select-view {
  ul {
    list-style-type: none;
  }

  li {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    background-color: #555;
    padding: 4px 10px;
    margin: 2px 4px;

    &:before {
      content: "+ ";
    }
  }
}

.panel-header {
  height: 30px;

  .year-select {
    .backward, .forward {
      cursor: pointer;
    }
  }

  .close {
    cursor: pointer;
    background-color: #ccc;
    border-radius: 11px;
    padding: 4px 4px 6px 4px;
    line-height: 11px;
    color: #fff;

    a {
      color: #fff;
    }
  }
}

.national {
  ul {
    list-style-type: none;
  }

  .stateface { 
    font-size: 28px;
  }

  .state-title {
    font-size: 14px;
  }
}