 @font-face {
     font-family: 'StateFaceRegular';
     src: url('../font/stateface-regular-webfont.eot');
     src: url('../font/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../font/stateface-regular-webfont.woff') format('woff'),
          url('../font/stateface-regular-webfont.ttf') format('truetype'),
          url('../font/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

path {
  fill: rgb(246,239,247);
  stroke-width: 0;
}

.boundary {
  fill: none;
  stroke: #999;
  stroke-opacity: 1;
  stroke-width: 1;
}

.ward, .county {
  &.break0 {
    fill: rgb(208,209,230);
  }
  &.break1 {
    fill: rgb(166,189,219);
  }
  &.break2 {
    fill: rgb(103,169,207);
  }
  &.break3 {
    fill: rgb(28,144,153);
  }
  &.break4 {
    fill: rgb(1,108,89);
  }
}

.district {
  fill: none;
  stroke: red;
}

#select-view {
  ul {
    list-style-type: none;
  }

  li {
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    background-color: #555;
    padding: 4px 6px;
    margin: 2px 4px;

    &:before {
      content: "+ ";
    }
  }
}

.panel-header {
  height: 30px;

  .year-select {
    .backward, .forward {
      cursor: pointer;
    }
  }

  .close {
    cursor: pointer;
    background-color: #ccc;
    border-radius: 11px;
    padding: 4px 4px 6px 4px;
    line-height: 11px;
    color: #fff;

    a {
      color: #fff;
    }
  }
}

.national {
  ul {
    list-style-type: none;
  }

  .stateface { 
    font-size: 28px;
  }

  .state-title {
    font-size: 14px;
  }
}