 @font-face {
     font-family: 'StateFaceRegular';
     src: url('../font/stateface-regular-webfont.eot');
     src: url('../font/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../font/stateface-regular-webfont.woff') format('woff'),
          url('../font/stateface-regular-webfont.ttf') format('truetype'),
          url('../font/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

path {
  fill: rgb(237, 248, 251);
  stroke-width: 0;
}

.boundary {
  fill: none;
  stroke: #999;
  stroke-opacity: 1;
  stroke-width: 1;
  cursor: pointer;
}

.ward, .county {
  cursor: pointer;

  &.break0 {
    fill: rgb(191, 211, 230);
  }
  &.break1 {
    fill: rgb(158, 188, 218);
  }
  &.break2 {
    fill: rgb(140, 150, 198);
  }
  &.break3 {
    fill: rgb(136, 86, 167);
  }
  &.break4 {
    fill: rgb(129, 15, 124);
  }
}

.district {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

#app-container {
  font-family: "proxima-nova", "helvetica neue", helvetica, sans-serif;
}

.share {
  border: none;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
  box-shadow: none;
  margin-top: 22px;
}

.panel-header {
  background-color: #ddd;
  padding: 12px 10px;

  // Chosen overrides
  .chosen-container {
    padding: 0;
  }

  .chosen-default, .chosen-container-active.chosen-with-drop .chosen-single {
    color: #444;   
    border: none;
    background: none;
    box-shadow: none;
  }

  .chosen-single, .chosen-single span {
    font-size: 24px;
    padding: 0;
    width: 240px;
    border: none;
    background: none;
    box-shadow: none;
    font-weight: bold;
  }

  .chosen-drop {
    width: 240px;
    border: none;
    background: none;
    box-shadow: none;
    background: #ccc;
  }

  .chosen-results .active-result {
    font-size: 16px;
  }

  .year-select-view {
    .backward, .forward {
      color: #fff;

      &.active {
        color: #0a4662;
        cursor: pointer;
      }
    }
  }

  .selector {
    font-size: 24px;
  }

  .column-header {
    display: block;
    color: #A4A4A8;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "proxima-nova", "helvetica neue", helvetica, sans-serif;
    letter-spacing: 2px;
  }

  .title {
    display: block;
    font-size: 12px;
  }

  .arrow {
    font-size: 22px;
    font-weight: bold;
  }

  .close {
    width: 20px;
    cursor: pointer;
    background-color: #777;
    border-radius: 11px;
    padding: 4px 4px 6px 4px;
    line-height: 11px;
    color: #fff;

    &:hover {
      background-color: #333;
    }

    a {
      color: #fff;
    }
  }
}

.contributions {
  height: 300px;
  max-height: 500px;
  overflow: auto;

  table {
    margin: 0 auto;
    border: 0;
    width: 100%;
  }

  td {
    font-size: 14px;
    padding: 6px;
    border-bottom: 1px dashed #333;
  }
}

.national {
  table {
    margin: 0 auto;
    border: 0;
    width: 100%;

    td {
      padding: 6px;
      border-bottom: 1px dashed #333;
    }

    tr {
      cursor: pointer;
    }

    tr:last-child td {
      border-bottom: 0;
    }
  }

  td.stateface {
    text-align: center;
  }

  .stateface { 
    font-size: 28px;
  }

  .state-title {
    font-size: 14px;
    width: 50%;
  }

  .total {
    font-size: 14px;
  }
}