<section id="app-container">
  <header class="row">
  <div class="twelve columns">
    <h1 class="headline">The Money Maps</h1>
    <div class="publish-container single-article">
      <div class="byline"><span class="byline-author">by <a href="http://axisphilly.org/author/casey/" title="Posts by author" rel="author">Casey Thomas</a> and <a href="http://axisphilly.org/author/jeff/" title="Posts by author" rel="author">Jeff Frankl</a><span class="byline-date">, September 9th, 2013</span></span></div>
    </div>
  </div>
  </header>
  <div class="row">
    <p class="twelve columns">
      Use this app to explore campaign contributions to current City Council members from 2007 through 2012. Start by making a selection from the menu below.
      <a href="http://axisphilly.org/article/the-money-maps/">Related Story →</a>
    </p>
  </div>
</section>
<section>
  <div class="row">
    <hr class="twelve columns">
    <p class="twelve columns">
      <em>Source: <a href="http://phila-records.com/campaign-finance/campaignweb/docSearch.jsp">City of Philadelphia, Department of Records</a></em>
    </p>
    <p class="twelve columns">
      <em>Note: Contribution amounts reflect only contributions from contributors with a valid U.S. address. This represents about 98% of contributions on record. 2012 campaign contributions are not available in electronic format for Darrell Clarke, Maria Quiñones-Sánchez, and Kenyatta Johnson. Council district boundaries reflect boundaries that were in use from 2000 through 2012.</em>
    </p>
  </div>
</section>
