<section id="app-container">
  <header class="row">
  <div class="twelve columns">
    <h1 class="headline">Money maps</h1>
    <div class="publish-container single-article">
      <div class="byline"><span class="byline-author">by <a href="http://axisphilly.org/author/casey/" title="Posts by author" rel="author">Casey Thomas</a> and <a href="http://axisphilly.org/author/jeff/" title="Posts by author" rel="author">Jeff Frankl</a><span class="byline-date">, Jul. 31st, 2013</span></span></div>
    </div>
  </div>
  </header>
  <div class="row">
    <p class="twelve columns">
      City Council members get finanical support not only from constituents in their district, but attract donations from Center City, the greater Philadelphia region, and even west coast. Use this app to explore campaign contributions to City Council members from 2007 through 2012.
      <a href="">Related Story →</a>
    </p>
  </div>
</section>
<section>
  <div class="row">
    <p class="twelve columns">
      Source: <a href="http://phila-records.com/campaign-finance/campaignweb/docSearch.jsp">City of Philadelphia, Department of Records</a>
    </p>
    <p class="twelve columns">
      <em>Note: Donation amounts reflect only contributions from contributors with a valid address on record. This represents about 95% of contributions. 2012 campaign contributions are not available in electronic format for Darrel Clarke, Maria Quiñones-Sánchez, and Kenyatta Johnson.</em>
    </p>
  </div>
</section>
