<!-- Templates -->
<script type="text/template" id="candidate-view-template">
  <div class="panel-header">
    <div class="year-select left">
      {{ if(backward) { }}
        <span><a class="backward" data-direction="backward">&larr;</a></span> 
      {{ } }}
      {{= year }}
      {{ if(forward) { }}
        <span><a class="forward" data-direction="forward">&rarr;</a></span>
      {{ } }}
    </div>
    <div class="close right">
      <a>&#215;</a>
    </div>
  </div>
  <div>
    {{= name }}
    <em>{{= title }}</em>
  <div>
  <div class='city four columns'></div>
  <div class='state four columns'></div>
  <div class='national four columns'></div>
</script>
<script type="text/template" id="national-view-template">
  <tr>
    <td>
      <span class="stateface stateface-{{= abbrv }}"></span>
    </td>
    <td class="state-title">
      {{= state }}
    </td>
    <td class="total">
      ${{= total }}
    </td>
  </tr>
</script>
<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<% if(env === 'production') { %>
  <!-- Compressed, versioned JS library files -->
  <script type="text/javascript" src="js/app.libraries.min.<%= version %>.js"></script>
<% } else { %>
  <!-- Individual JS library files -->
  <script type="text/javascript" src="js/lib/foundation.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/underscore.js"></script>
  <script type="text/javascript" src="js/lib/backbone.js"></script>
  <script type="text/javascript" src="js/lib/topojson.js"></script>
  <script type="text/javascript" src="js/lib/queue.js"></script>
  <script type="text/javascript" src="js/lib/d3.v3.min.js"></script>
  <script type="text/javascript" src="js/lib/states.js"></script>
<% } %>

<!-- Init Foundation and Fast Click-->
<script type="text/javascript">
  $(document).ready(function(){
    //$(document).foundation();
    FastClick.attach(document.body);
  });
</script>     

<!-- App Code -->
<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.min.<%= version %>.js"></script>
<% } else { %>
  <script type="text/javascript" src="js/app.js"></script>
<% } %>