<!-- Templates -->
<script type="text/template" id="candidate-view-template">
  <div class="panel-header row" data-initials="{{= initials }}">
    <div class="three columns">
      <span class="column-header">Candidate</span>
      <span class="selector">{{= name }}</span>
      <em class="title">{{= title }}</em>
    </div>
    <div class="year-select seven columns">
      <span class="column-header">Year</span>
      {{ if(backward) { }}
        <span><a class="arrow backward" data-direction="backward">&larr;</a></span> 
      {{ } }}
      <span class="year selector">{{= year }}</span>
      {{ if(forward) { }}
        <span><a class="arrow forward" data-direction="forward">&rarr;</a></span>
      {{ } }}
    </div>
    <div id="share-view" class="one columns">
      <a class="radius button" href="#" id="share-custom">Share</a>
    </div>
    <!--<div class='close one columns'>
      <a>&#215;</a>
    </div>-->
  </div>
  <div class='data row'>
    <div class='city four columns'>
      <span class='map-header'>Philadelphia</span>
    </div>
    <div class='four columns'>
      <div class='state'>
        <span class='map-header'>Pennsylvania</span>
      </div>
      <div class='national'>
        <span class='map-header'>United States</span>
      </div>
    </div>
    <div class='four columns'>
      table and stuff
    </div>
  </div>
</script>
<script type="text/template" id="national-view-template">
  <tr>
    <td class="stateface">
      <span class="stateface stateface-{{= abbrv }}"></span>
    </td>
    <td class="state-title">
      {{= state }}
    </td>
    <td class="total">
      ${{= total }}
    </td>
  </tr>
</script>
<div id="shareModal" class="reveal-modal small">
  <p>Share link:</p>
  <span class="link"></span>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<% if(env === 'production') { %>
  <!-- Compressed, versioned JS library files -->
  <script type="text/javascript" src="js/app.libraries.min.<%= version %>.js"></script>
<% } else { %>
  <!-- Individual JS library files -->
  <script type="text/javascript" src="js/lib/foundation.js"></script>
  <script type="text/javascript" src="js/lib/foundation.reveal.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/underscore.js"></script>
  <script type="text/javascript" src="js/lib/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/backbone.js"></script>
  <script type="text/javascript" src="js/lib/topojson.js"></script>
  <script type="text/javascript" src="js/lib/queue.js"></script>
  <script type="text/javascript" src="js/lib/d3.v3.min.js"></script>
  <script type="text/javascript" src="js/lib/states.js"></script>
<% } %>

<!-- Init Foundation and Fast Click-->
<script type="text/javascript">
  $(document).ready(function(){
    $(document).foundation();
    FastClick.attach(document.body);
  });
</script>     

<!-- App Code -->
<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.min.<%= version %>.js"></script>
<% } else { %>
  <script type="text/javascript" src="js/app.js"></script>
<% } %>