<!-- Templates -->
<script type="text/template" id="panel-view-template">
  <div class="panel-header row">
    <div class="three columns">
      <span class="column-header">Candidate</span>
      <div class="candidate-select-view"></div>
    </div>
    <div class="year-select-view seven columns"></div>
    <div class="one columns">
      <a class="radius button share" href="#">Share</a>
    </div>
    <!--<div class='close one columns'>
      <a>&#215;</a>
    </div>-->
  </div>
  <div class="candidate row"></div>
</script>
<script type="text/template" id="year-select-view-template">
  <span class="column-header">Year</span>
    <span><a class="arrow backward {{ if(backward) { }} active {{ } }}" data-direction="backward" data-status="{{ if(backward) { }}active{{ } }}">&larr;</a></span> 
  <span class="year selector">{{= year }}</span>
    <span><a class="arrow forward {{ if(forward) { }} active {{ } }}" data-direction="forward" data-status="{{ if(forward) { }}active{{ } }}">&rarr;</a></span>
</script>
<script type="text/template" id="candidate-view-template">
  <div class='data row'>
    <div class='city four columns'>
      <span class='map-header'>Philadelphia</span>
      <div class='map-container'></div>
    </div>
    <div class='four columns'>
      <div class='state'>
        <span class='map-header'>Pennsylvania</span>
        <div class='map-container'></div>
      </div>
      <div class='national'>
        <span class='map-header'>United States</span>
        <div class='table-container'>
          <table></table>
        </div>
      </div>
    </div>
    <div class='contributions four columns'>
      <div class='table-container'><em>Click a region to show contributions from that region for the selected candidate and year.</em></div>
    </div>
  </div>
</script>
<script type="text/template" id="national-view-template">
  <td class="stateface">
    <span class="stateface stateface-{{= abbrv }}"></span>
  </td>
  <td class="state-title">
    {{= state }}
  </td>
  <td class="total">
    ${{= total }}
  </td>
</script>
<script type="text/template" id="contribution-view-template">
  <tr>
    <td>{{= fDate }}</td>
    <td>{{= contributor }}</td>
    <td>${{= fAmount }}</td>
  </tr>
</script>
<div id="shareModal" class="reveal-modal small">
  <p>Share link:</p>
  <span class="link"></span>
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
<% if(env === 'production') { %>
  <!-- Compressed, versioned JS library files -->
  <script type="text/javascript" src="js/app.libraries.min.<%= version %>.js"></script>
<% } else { %>
  <!-- Individual JS library files -->
  <script type="text/javascript" src="js/lib/foundation.js"></script>
  <script type="text/javascript" src="js/lib/foundation.reveal.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/underscore.js"></script>
  <script type="text/javascript" src="js/lib/chosen.jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/backbone.js"></script>
  <script type="text/javascript" src="js/lib/topojson.js"></script>
  <script type="text/javascript" src="js/lib/moment.min.js"></script>
  <script type="text/javascript" src="js/lib/d3.v3.min.js"></script>
  <script type="text/javascript" src="js/lib/states.js"></script>
<% } %>

<!-- Init Foundation and Fast Click-->
<script type="text/javascript">
  $(document).ready(function(){
    $(document).foundation();
    FastClick.attach(document.body);
  });
</script>     

<!-- App Code -->
<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.min.<%= version %>.js"></script>
<% } else { %>
  <script type="text/javascript" src="js/app.js"></script>
<% } %>