<div id="header">
  <div class="row">
      <div class="three columns" id="logo">
        <img src="/img/axisphillylogo.png" alt="AxisPhilly">
      </div>
      <div id="nav" class="nine columns">
        <div class="eight columns" id="main-menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/tools">Tools & Data</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="http://twitter.com/axisphilly"><img src="/img/icon-twitter.png" alt="Twitter Logo" class="twitter"></a></li>
            <span id="stretch"></span>
          </ul>
        </div>
        <div class="four columns" id="search">
          <div id="search-container">
            <div id="search-icon"></div>
            <div id="search-box">
              <input value="" name="s" required="">
            </div>
          </div>
        </div>      
      </div>
  </div>
</div>